# Bookstore customer analysis with SQL
In this lab, you will apply SQL to query and analyze data stored in a database. By the end of the lab, you will be able to extract data using a variety of SQL commands and store the results for further analysis.

### Tips for completing this lab
As you navigate this lab, keep the following tips in mind:
- `-- YOUR CODE HERE` indicates where you should write code. Note: SQL uses the double dash for comments, as opposed to Python's pound sign (#). Be sure to replace this with your own code before running the code cell.
- Use `%sql` to execute *single-line* SQL commands within a Jupyter Notebook cell. 
- For *multi-line* SQL commands, such as creating tables or complex queries, use `%%sql` at the beginning of the cell.
- When you are asked "get all customers", you can safely assume you can use `SELECT *` to show all fields. If you are directed to "get the names of the customers", on the other hand, you can assume you need to include the field names in the `SELECT` statement.
- You can save your work manually by clicking File and then Save in the menu bar at the top of the notebook.
- You can download your work locally by clicking File and then Download and then specifying your preferred file format in the menu bar at the top of the notebook.

## Scenario
You are a data analyst working for a bookstore. You have access to a database containing information about customers, books, and reviews. Your goal is to use SQL to analyze customer data, identify trends, and extract valuable insights that can be used to improve the bookstore's marketing and sales strategies. Before you can do that, you want to familiarize yourself with the data, so you will run some queries to examine the data format.

## Tasks
### Initial Setup
Run the following cells to set up this Jupyter Notebook lab for working with SQL.

- Installs `ipython-sql`, a magic extension for Jupyter Notebooks that allows you to write and execute SQL queries directly within notebook cells.
- Loads the `ipython-sql` extension. 
- Establishes a connection between your Jupyter Notebook and your SQLite database `mydatabase.db`.
- Configures the display style for SQL query results to ensure compatibility with the formatting expected by this notebook.

In [ ]:
pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///mydatabase.db

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### 1. Load and investigate existing data (15 minutes)
The Coursera Bookstore has three tables: Customer, Book, and Review. In the first step, you will write a simple SELECT query to see the contents of each table
#### Step 1.1: View the Customer table
To see all the fields in the Customer table, you can issue the following command:

In [ ]:
%%sql
SELECT *
FROM Customer;

If you have issued the command properly, you will see information about the customer, including their name, email, address, and phone number. There should be 30 customers in the database.
#### Step 1.2: View the Book table
To see all the fields in the Book table, you can use a similar command. Give it a try. Note that SQL uses the double dash (--) to represent a comment, so where you see `-- YOUR CODE HERE`, that indicates you should add your code.

In [ ]:
%%sql
-- YOUR CODE HERE

In [ ]:
# Checking Your Results

There are 20 books in the table. 
#### Step 1.3: View Book names 
Using `SELECT *` will display all fields. Instead of displaying all fields in the Book table, assume you want to display only the book titles. Notice in the previous step, the book title field was named title. Modify your query to display only the titles from the Book table.

In [ ]:
%%sql
-- YOUR CODE HERE

In [ ]:
# Checking Your Results

#### Step 1.4: View Review table
There is one more table to examine. This table, the Review table, will be more difficult to interpret. Write a query similar to Step 1.1 to display all fields in the Review table. This will be examined in a later step.

In [ ]:
%%sql
-- YOUR CODE HERE

In [ ]:
# Checking Your Results

### 2. Analyze Customer table using single-table queries (45 minutes)
The first step with familiarizing yourself with SQL is to learn how to pull information from a single table. You will practice using query criteria using the WHERE clause in this step.
#### Step 2.1: Display all customers in the state of New York (NY)
You need to get a list of all customers in the state of New York. Run the following query and notice there are no results:

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE state = 'New York';

An important part of database operations is ensuring you know what your field values look like. In this database, the customer's state is stored by the abbreviation (NY) rather than name (New York). Revise the query to correctly display customers in NY. There should be one customer in NY.

In [ ]:
%%sql
SELECT *
FROM Customer
-- YOUR CODE HERE

In [ ]:
# Checking Your Results

#### Step 2.2: Display all customers in the Springfield, NC
In the case of this small dataset, there are not many customers. Let's say you want to get a list of customers in the town of Springfield, North Carolina. Running the following query will result in two results, even though one customer is not in North Carolina:

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE city = 'Springfield';

Modify the query so you only see the customers in Springfield, NC but not Springfield, IL. You can use an AND condition to do this.

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE city = 'Springfield' AND -- YOUR CODE HERE

In [ ]:
# Checking Your Results

This is a scenario where you may need to combine two conditions.
#### Step 2.3: Display all customers in certain states
Imagine you have a new sales rep covering the states Hawaii (HI) and Alaska (AK). You may need to provide them a list of customers in their states. Run the following query and note there are no results:

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE state = 'HI' AND state = 'AK';

This is a very common misinterpretation in queries. You want a list of customers in Hawaii and Alaska, but each individual customer will only be in either Hawaii or Alaska. Replace the AND with OR, and notice the result set is now 3 customers:

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE -- YOUR CODE HERE

In [ ]:
# Checking Your Results

This works well if there are two states. However, imagine this representative is assigned all customers in Hawaii (HI), Alaska (AK), Idaho (ID), Washington (WA), and California (CA). In this situation, you can use the IN operator to specify a list of potential acceptable values.

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE state IN -- YOUR CODE HERE

In [ ]:
# Checking Your Results

#### Step 2.4: Match patterns
There are times where you may not want to match something exactly, and this is where the LIKE command is appropriate. Recall you have two wildcard operators, %, and _, that can be used. Let's say you want to find a list of customers who live in a city starting with the letter 'S'. You can use the LIKE command with a wildcard to get this data. Depending on your database management system, capitalization may or may not matter, so make sure you use a capital S for your search.

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE city -- YOUR CODE HERE

In [ ]:
# Checking Your Results

You can also use two wildcards in the same LIKE. For example, let's say you want to find customers who have the number '9' anywhere in their phone number. You can use two wildcard operators to do this. Try to generate this list:

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE phone -- YOUR CODE HERE

In [ ]:
# Checking Your Results

Finally, though it is a strange example here, you can use both wildcard operators together. Let's say you need to find all customers who have the letter 'a' as the second letter in their name (so, Carlos Rodriguez should appear, but not Elena Petrova). You can use both wildcard operators together to accomplish this:

In [ ]:
%%sql
SELECT *
FROM Customer
WHERE name -- YOUR CODE HERE

In [ ]:
# Checking Your Results

### 3. Grouping data (15 minutes)
As you have seen as part of your studies, statistics are a critical piece of data science. For example, you may want to get statistics such as COUNT, SUM, MIN, MAX, and AVG. You may also want to group this data (sum of all states by state). 
#### Step 3.1: Get count of customers
Especially when it comes to web development, you will need a way to find out how many customers exist in a table. This can be useful to see how many results the server should expect. Write a query to return the count of customers in the Customer table:

In [ ]:
%%sql
-- YOUR CODE HERE
FROM Customer;

In [ ]:
# Checking Your Results

#### Step 3.2: Get count of customers in a specific state
Alter your previous query to display the total number of customers in the state of Nebraska (NE). There should be 1 customer.

In [ ]:
%%sql
-- YOUR CODE HERE
FROM Customer
-- YOUR CODE HERE

In [ ]:
# Checking Your Results

#### Step 3.3: Get aggregate totals for all states
There may be times in data science where you need to get results grouped by a certain field. Let's say you need to get a count of customers in each state. This will require adding grouping to your query. At this point, you should also display the state abbreviation in your SELECT line, so as to label the totals.

In [ ]:
%%sql
-- YOUR CODE HERE

In [ ]:
# Checking Your Results

### 4. Multiple-table queries (15 minutes)
As you saw earlier, the review table was not easy to understand, as the book name was not in the query. You will perform a few multiple-table queries to explore the JOIN condition.
#### Step 4.1: Review existing Review and Book table
Re-run the queries from earlier:

In [ ]:
%%sql
SELECT *
FROM Review;

Given what you see here, it is impossible to see who left the review, or what book each review is for.

In [ ]:
%%sql
SELECT *
FROM Book;

Given what you see here, you cannot tell how each book was reviewed.

#### Step 4.2: Join the Book and Review table
In order to combine data from two tables, they need to have a common field. Notice both the Book table and Review table contain a common field, book_id. This can be used to join the tables.

Join the two tables to see the Book information with each Review.

In [ ]:
%%sql
SELECT *
FROM -- YOUR CODE HERE

In [ ]:
# Checking Your Results

#### Step 4.3: Join the Customer and Review table
You can also see which customers wrote which review. Notice the Customer table and the Review table both contain a common field, customer_id. This can be used to join the tables.

Join the two tables to see the Customer information with each Review.

In [ ]:
%%sql
SELECT *
FROM -- YOUR CODE HERE

In [ ]:
# Checking Your Results

### Hints & Tips
- **Review** the previous reading on SQL Concepts. Examples are intentionally similar to the examples in that reading.

#### End of Lab
By completing this lab, youâ€™ve gained experience in writing queries. Though the focus of this course is not SQL, having some experience in this area is extremely important in the field of data science.