<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300">
</center>

# Lab: Jupyter Notebook with Problems for Peer Reviewed Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a database
3.  Execute SQL queries to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate tables.

Let's first load the RSQLite package:

In [1]:
install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", repos = NULL, type = "source", dependencies = TRUE)

Warning message in install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", :
“installation of package ‘/tmp/RtmpCK9NUr/downloaded_packages/RSQLite_0.10.0.tar.gz’ had non-zero exit status”

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

In [2]:
library("RSQLite")

## Problem 1

#### Create tables

Establish a connection **conn** to the RSQLite database **FinalDB.sqlite**, and create the following four tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

In [3]:
# Write your query here
# Load packages
# install.packages("RSQLite")  # if needed
library(DBI)
library(RSQLite)

# Open a fresh connection (closes old one if it exists)
if (exists("conn") && DBI::dbIsValid(conn)) DBI::dbDisconnect(conn)
conn <- dbConnect(RSQLite::SQLite(), dbname = "agri_fx.sqlite")

# Show empty DB tables (should be none yet)
dbListTables(conn)

character(0)

In [4]:
#check list of tables in the present db.
dbListTables(conn)

character(0)

## Problem 2

#### Read Datasets and load your tables in database

Read the datasets into R dataframes using the urls provided above. Then load your tables in database.

In [6]:
# If needed:
# install.packages(c("DBI","RSQLite","readr"))

library(DBI)
library(RSQLite)
library(readr)

# Connect (reuse if already connected)
if (exists("conn") && DBI::dbIsValid(conn)) DBI::dbDisconnect(conn)
conn <- dbConnect(RSQLite::SQLite(), dbname = "agri_fx.sqlite")

# URLs (final)
urls <- list(
  annual_crop  = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv",
  monthly_farm = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv",
  daily_fx     = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv",
  monthly_fx   = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv"
)

# Read directly from HTTPS
annual_crop_df  <- read_csv(urls$annual_crop,  show_col_types = FALSE)
monthly_farm_df <- read_csv(urls$monthly_farm, show_col_types = FALSE)
daily_fx_df     <- read_csv(urls$daily_fx,     show_col_types = FALSE)
monthly_fx_df   <- read_csv(urls$monthly_fx,   show_col_types = FALSE)

# Write to SQLite (creates or replaces)
dbWriteTable(conn, "annual_crop",  as.data.frame(annual_crop_df),  overwrite = TRUE)
dbWriteTable(conn, "farm_prices",  as.data.frame(monthly_farm_df), overwrite = TRUE)
dbWriteTable(conn, "daily_fx",     as.data.frame(daily_fx_df),     overwrite = TRUE)
dbWriteTable(conn, "monthly_fx",   as.data.frame(monthly_fx_df),   overwrite = TRUE)

# Sanity checks
dbListTables(conn)
lapply(c("annual_crop","farm_prices","daily_fx","monthly_fx"),
       function(t) head(dbReadTable(conn, t)))

[1] "annual_crop" "daily_fx"    "farm_prices" "monthly_fx"

[[1]]
  CD_ID  YEAR CROP_TYPE          GEO SEEDED_AREA HARVESTED_AREA PRODUCTION
1     0 -1462    Barley      Alberta     1372000        1372000    2504000
2     1 -1462    Barley       Canada     2476800        2476800    4752900
3     2 -1462    Barley Saskatchewan      708000         708000    1415000
4     3 -1462    Canola      Alberta      297400         297400     215500
5     4 -1462    Canola       Canada      580700         580700     512600
6     5 -1462    Canola Saskatchewan      224600         224600     242700
  AVG_YIELD
1      1825
2      1920
3      2000
4       725
5       885
6      1080

[[2]]
  CD_ID DATE CROP_TYPE          GEO PRICE_PRERMT
1     0 5479    Barley      Alberta       127.39
2     1 5479    Barley Saskatchewan       121.38
3     2 5479    Canola      Alberta       342.00
4     3 5479    Canola Saskatchewan       339.82
5     4 5479       Rye      Alberta       100.77
6     5 5479       Rye Saskatchewan       109.75

[[3]]
  DFX_ID  DATE FXUSDCAD
1      0 17169   1.3435
2      1 17170   1.3315
3      2 17171   1.3244
4      3 17172   1.3214
5      4 17175   1.3240
6      5 17176   1.3213

[[4]]
  DFX_ID  DATE FXUSDCAD
1      0 17167 1.319276
2      1 17198 1.310726
3      2 17226 1.338643
4      3 17257 1.344021
5      4 17287 1.360705
6      5 17318 1.329805

## Now execute SQL queries using the RSQLite R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

In [7]:
# Write your query here
dbGetQuery(conn, "SELECT COUNT(*) AS n_rows FROM farm_prices;")

  n_rows
1 2678

## Problem 4

#### Which geographies are included in the farm prices dataset?

In [9]:
# Write your query here
# Helper: pick a column by pattern from a table
pick_col <- function(conn, table, patterns, prefer = NULL) {
  cols <- DBI::dbListFields(conn, table)
  if (!is.null(prefer) && prefer %in% cols) return(prefer)
  for (p in patterns) {
    m <- grep(p, cols, ignore.case = TRUE, value = TRUE)
    if (length(m)) return(m[1])
  }
  stop(sprintf("No column in %s matches patterns: %s",
               table, paste(patterns, collapse = ", ")))
}

# See what columns you actually have
DBI::dbListFields(conn, "farm_prices")

# Pick a geography-like column and list distinct values
geo_col <- pick_col(conn, "farm_prices", c("^geo$", "geograph", "prov", "region"))
qry <- sprintf('SELECT DISTINCT "%s" AS geography FROM farm_prices ORDER BY 1;', geo_col)
DBI::dbGetQuery(conn, qry)

[1] "CD_ID"        "DATE"         "CROP_TYPE"    "GEO"          "PRICE_PRERMT"

  geography
1 Alberta
2 Saskatchewan

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

In [21]:
# Write your query here

# Problem 5 — How many hectares of Rye were harvested in Canada in 1968?
DBI::dbGetQuery(conn, "
  WITH ac AS (
    SELECT 
      strftime('%Y', date('1970-01-01', YEAR || ' days')) AS year,
      GEO,
      CROP_TYPE,
      HARVESTED_AREA
    FROM annual_crop
  )
  SELECT 
    year,
    GEO,
    CROP_TYPE,
    SUM(HARVESTED_AREA) AS hectares
  FROM ac
  WHERE GEO = 'Canada'
    AND UPPER(CROP_TYPE) LIKE 'RYE%'
    AND year = '1968'
  GROUP BY year, GEO, CROP_TYPE
")

  year GEO    CROP_TYPE hectares
1 1968 Canada Rye       274100

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

In [22]:
# ----- Helpers () -----
library(DBI)

# Pick a column by regex pattern(s)
pick_col <- function(conn, table, patterns, prefer = NULL) {
  cols <- DBI::dbListFields(conn, table)
  if (!is.null(prefer) && prefer %in% cols) return(prefer)
  for (p in patterns) {
    m <- grep(p, cols, ignore.case = TRUE, value = TRUE)
    if (length(m)) return(m[1])
  }
  stop(sprintf("No column in %s matches: %s", table, paste(patterns, collapse=", ")))
}

# Year expression (handles ANNUAL_CROP.YEAR as days offset from 1970-01-01)
year_expr <- function(colname, table = NULL) {
  if (!is.null(table) && table == "annual_crop" && toupper(colname) == "YEAR") {
    sprintf("CAST(strftime('%%Y', date('1970-01-01', %s || ' days')) AS INT)", DBI::dbQuoteIdentifier(conn, colname))
  } else {
    sprintf("CAST(SUBSTR(%s,1,4) AS INT)", DBI::dbQuoteIdentifier(conn, colname))
  }
}

# Yield expression for annual_crop: prefer YIELD; else PRODUCTION / HARVESTED_AREA
yield_expr_annual <- function(conn) {
  cols <- DBI::dbListFields(conn, "annual_crop")
  yld <- grep("yield", cols, ignore.case = TRUE, value = TRUE)
  if (length(yld)) return(DBI::dbQuoteIdentifier(conn, yld[1]))
  prod <- pick_col(conn, "annual_crop", c("production", "tonnes", "tons", "metric.*tonne"))
  area <- pick_col(conn, "annual_crop", c("harvested.*area", "^HARVESTED_AREA$", "hectare", "area"))
  sprintf("CAST(%s AS REAL) / NULLIF(CAST(%s AS REAL), 0)", DBI::dbQuoteIdentifier(conn, prod), DBI::dbQuoteIdentifier(conn, area))
}

In [23]:
# Wriet your query here

# ----- Problem 6: first 6 rows of farm prices for Rye -----
fp_table <- "farm_prices"
fp_date  <- pick_col(conn, fp_table, c("^REF_DATE$", "^Date$", "^Month$", "date"))
fp_crop  <- pick_col(conn, fp_table, c("^CROP_TYPE$", "Crop", "Commodity", "Product", "Item"))
qry_p6 <- sprintf("
  SELECT *
  FROM %s
  WHERE UPPER(%s) LIKE 'RYE%%'
  ORDER BY %s
  LIMIT 6
", fp_table, DBI::dbQuoteIdentifier(conn, fp_crop), DBI::dbQuoteIdentifier(conn, fp_date))
DBI::dbGetQuery(conn, qry_p6)

  CD_ID DATE CROP_TYPE GEO          PRICE_PRERMT
1  4    5479 Rye       Alberta      100.77
2  5    5479 Rye       Saskatchewan 109.75
3 10    5510 Rye       Alberta       95.05
4 11    5510 Rye       Saskatchewan 103.46
5 16    5538 Rye       Alberta       96.77
6 17    5538 Rye       Saskatchewan 106.38

## Problem 7

#### Which provinces grew Barley?

In [24]:
# Write your query here
# ----- Problem 7: which provinces grew Barley? -----
ac_table <- "annual_crop"
ac_geo   <- pick_col(conn, ac_table, c("^GEO$", "Geography", "Province", "Region", "Location"))
ac_crop  <- pick_col(conn, ac_table, c("^CROP_TYPE$", "Crop", "Commodity", "Item"))
ac_area  <- pick_col(conn, ac_table, c("^HARVESTED_AREA$", "harvested.*area", "hectare", "area"))
qry_p7 <- sprintf("
  SELECT DISTINCT %s AS province
  FROM %s
  WHERE UPPER(%s) LIKE 'BARLEY%%'
    AND CAST(%s AS REAL) > 0
    AND UPPER(%s) <> 'CANADA'
  ORDER BY province
", DBI::dbQuoteIdentifier(conn, ac_geo), ac_table,
   DBI::dbQuoteIdentifier(conn, ac_crop),
   DBI::dbQuoteIdentifier(conn, ac_area),
   DBI::dbQuoteIdentifier(conn, ac_geo))
DBI::dbGetQuery(conn, qry_p7)

  province
1 Alberta
2 Saskatchewan

## Problem 8

#### Find the first and last dates for the farm prices data.

In [25]:
# Write your query here
# ----- Problem 8: first and last dates for farm prices -----
fp_date <- pick_col(conn, "farm_prices", c("^REF_DATE$", "^Date$", "^Month$", "date"))
qry_p8 <- sprintf("
  SELECT MIN(%s) AS first_date,
         MAX(%s) AS last_date
  FROM %s
", DBI::dbQuoteIdentifier(conn, fp_date), DBI::dbQuoteIdentifier(conn, fp_date), "farm_prices")
DBI::dbGetQuery(conn, qry_p8)

  first_date last_date
1 5479       18597

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

In [26]:
# Write your query here
# ----- Problem 9: crops that ever reached >= $350 per metric tonne -----
fp_crop  <- pick_col(conn, "farm_prices", c("^CROP_TYPE$", "Crop", "Commodity", "Product", "Item"))
fp_price <- pick_col(conn, "farm_prices", c("^PRICE$", "Dollars", "Value", "CAD", "price", "per.metric.tonne", "Farm.*Price"))
qry_p9 <- sprintf("
  SELECT DISTINCT %s AS crop
  FROM %s
  WHERE CAST(%s AS REAL) >= 350
  ORDER BY crop
", DBI::dbQuoteIdentifier(conn, fp_crop), "farm_prices", DBI::dbQuoteIdentifier(conn, fp_price))
DBI::dbGetQuery(conn, qry_p9)

  crop
1 Canola

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

In [27]:
# Write your query here
# ----- Problem 10: rank crop types by average yield in the year 2000 -----
ac_year <- pick_col(conn, "annual_crop", c("^YEAR$", "^REF_DATE$", "^Date$", "year"))
ac_crop <- pick_col(conn, "annual_crop", c("^CROP_TYPE$", "Crop", "Commodity", "Item"))
ac_geo  <- pick_col(conn, "annual_crop", c("^GEO$", "Geography", "Province", "Region", "Location"))
yld_expr <- yield_expr_annual(conn)
qry_p10 <- sprintf("
  SELECT %s AS crop,
         AVG(%s) AS avg_yield_2000
  FROM %s
  WHERE %s = 2000
    AND UPPER(%s) <> 'CANADA'
  GROUP BY %s
  ORDER BY avg_yield_2000 DESC
",
  DBI::dbQuoteIdentifier(conn, ac_crop),
  yld_expr,
  "annual_crop",
  year_expr(ac_year, "annual_crop"),
  DBI::dbQuoteIdentifier(conn, ac_geo),
  DBI::dbQuoteIdentifier(conn, ac_crop)
)
DBI::dbGetQuery(conn, qry_p10)

  crop   avg_yield_2000
1 Barley 2900
2 Wheat  2350
3 Rye    2100
4 Canola 1450

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

In [28]:
# Write your query here
# ----- Problem 11: since 2000, which province had the highest average yield? -----
ac_year <- pick_col(conn, "annual_crop", c("^YEAR$", "^REF_DATE$", "^Date$", "year"))
ac_geo  <- pick_col(conn, "annual_crop", c("^GEO$", "Geography", "Province", "Region", "Location"))
yld_expr <- yield_expr_annual(conn)
qry_p11 <- sprintf("
  SELECT %s AS province,
         AVG(%s) AS avg_yield_since_2000
  FROM %s
  WHERE %s >= 2000
    AND UPPER(%s) <> 'CANADA'
  GROUP BY %s
  ORDER BY avg_yield_since_2000 DESC
  LIMIT 10
",
  DBI::dbQuoteIdentifier(conn, ac_geo),
  yld_expr,
  "annual_crop",
  year_expr(ac_year, "annual_crop"),
  DBI::dbQuoteIdentifier(conn, ac_geo),
  DBI::dbQuoteIdentifier(conn, ac_geo)
)
DBI::dbGetQuery(conn, qry_p11)

  province     avg_yield_since_2000
1 Alberta      2808.595
2 Saskatchewan 2345.500

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

In [29]:
# Write your query here
# ----- Problem 12: subquery — most recent year, which crop and how many hectares in Canada -----
ac_year <- pick_col(conn, "annual_crop", c("^YEAR$", "^REF_DATE$", "^Date$", "year"))
ac_geo  <- pick_col(conn, "annual_crop", c("^GEO$", "Geography", "Province", "Region", "Location"))
ac_crop <- pick_col(conn, "annual_crop", c("^CROP_TYPE$", "Crop", "Commodity", "Item"))
ac_area <- pick_col(conn, "annual_crop", c("^HARVESTED_AREA$", "harvested.*area", "hectare", "area"))
qry_p12 <- sprintf("
  WITH ac AS (
    SELECT %s AS yyyy, %s AS GEO, %s AS CROP, CAST(%s AS REAL) AS HA
    FROM %s
  ),
  most_recent AS (
    SELECT MAX(yyyy) AS max_year FROM ac
  )
  SELECT CROP, SUM(HA) AS hectares, (SELECT max_year FROM most_recent) AS year
  FROM ac, most_recent
  WHERE GEO = 'Canada'
    AND yyyy = (SELECT max_year FROM most_recent)
  GROUP BY CROP
  ORDER BY hectares DESC
  LIMIT 1
",
  year_expr(ac_year, "annual_crop"),
  DBI::dbQuoteIdentifier(conn, ac_geo),
  DBI::dbQuoteIdentifier(conn, ac_crop),
  DBI::dbQuoteIdentifier(conn, ac_area),
  "annual_crop"
)
DBI::dbGetQuery(conn, qry_p12)

  CROP  hectares year
1 Wheat 10017800 2020

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

In [30]:
# Write your query here
# ----- Problem 13: join monthly FX to farm prices, convert CAD -> USD, show most recent 6 months -----
fp_table <- "farm_prices"
fx_table <- "monthly_fx"

fp_date  <- pick_col(conn, fp_table, c("^REF_DATE$", "^Date$", "^Month$", "date"))
fp_crop  <- pick_col(conn, fp_table, c("^CROP_TYPE$", "Crop", "Commodity", "Product", "Item"))
fp_price <- pick_col(conn, fp_table, c("^PRICE$", "Dollars", "Value", "CAD", "price", "per.metric.tonne", "Farm.*Price"))

fx_date  <- pick_col(conn, fx_table, c("^REF_DATE$", "^Date$", "^Month$", "date"))
# Assume CAD per USD; adjust pattern if needed for your file
fx_rate  <- pick_col(conn, fx_table, c("USD.?CAD", "USDCAD", "CAD.*USD", "FX.*USD", "^VALUE$", "rate"))

qry_p13 <- sprintf("
  WITH fp AS (
    SELECT %s AS fp_date,
           %s AS crop,
           CAST(%s AS REAL) AS cad_price
    FROM %s
  ),
  fx AS (
    SELECT %s AS fx_date,
           CAST(%s AS REAL) AS cad_per_usd
    FROM %s
  ),
  j AS (
    SELECT fp.fp_date,
           fp.crop,
           fp.cad_price,
           fx.cad_per_usd,
           (fp.cad_price / NULLIF(fx.cad_per_usd,0)) AS usd_price
    FROM fp
    JOIN fx
      ON SUBSTR(fp.fp_date,1,7) = SUBSTR(fx.fx_date,1,7)
  )
  SELECT *
  FROM j
  ORDER BY fp_date DESC
  LIMIT 6
",
  DBI::dbQuoteIdentifier(conn, fp_date),
  DBI::dbQuoteIdentifier(conn, fp_crop),
  DBI::dbQuoteIdentifier(conn, fp_price),
  fp_table,
  DBI::dbQuoteIdentifier(conn, fx_date),
  DBI::dbQuoteIdentifier(conn, fx_rate),
  fx_table
)
DBI::dbGetQuery(conn, qry_p13)

  fp_date crop   cad_price cad_per_usd usd_price
1 18597   Barley 228.41    1.280771    178.3378
2 18597   Barley 220.53    1.280771    172.1853
3 18597   Canola 509.04    1.280771    397.4480
4 18597   Canola 507.33    1.280771    396.1128
5 18597   Rye    202.41    1.280771    158.0376
6 18597   Rye    192.90    1.280771    150.6124

## Author(s)

<h4> Jeff Grossman </h4>

<h4> D.M. Naidu </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

<h4> Lakshmi Holla </h4>

![footer](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/zOMU1iwlZgwJXjWYzQAIgg/SNIBMfooter.png "footer")


<!--## Change log

| Date       | Version | Changed by    | Change Description                        |
| ---------- | ------- | ------------- | ----------------------------------------- |
| 2022-03-03 | 1.0     | D.M. Naidu    | Converted intial version to RSQLite       |-->